.accent-color,
.basic-link,
.blog-grid-item .blog-title a:hover,
.blog-list-item .blog-title a:hover,
.blog-list-item h4 a:hover,
.btn-link,
.connected-blocks .icon,
.feature-block .icon,
.footer-menu li a:hover,
.footer_widget h4.widgettitle i,
.header-info-cols li .icon-col,
.owl-carousel .blog-list-item .meta-data i,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.post .post-title a:hover,
.project-list-item .project-title a:hover,
.service-grid-item h4 a:hover,
.team-grid-item .meta-data,
.testimonial-block blockquote:before,
.testimonial-info span,
.text-primary,
.widget li .meta-data a:hover,
.widget_links ul li a:hover,
.widget_meta ul li a:hover,
a,
a:hover,
address strong,
blockquote:before,
hr.sm:before,
ul.icons > li > i {
  color: #7c4d55;
}
#back-to-top:hover,
#menu-toggle:active,
#menu-toggle:hover,
.accent-bg,
.blog-grid-item .date,
.blog-list-item .date,
.btn-primary,
.btn-primary[disabled],
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
.feature-block:hover .icon,
.flex-control-nav a:hover,
.icon-box.icon-box-style1:hover .ico,
.label-primary,
.media-box .media-box-wrapper,
.site-logo,
.site-logo:before,
.stacked-title,
blockquote:after {
  background-color: #7c4d55;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #7c4d55;
  opacity: 0.9;
}
.feature-block:hover .icon,
.header-info-cols li .icon-col,
.icon-box.icon-box-style1 .ico {
  border-color: #7c4d55;
}
.dd-menu > li:hover ul,
.dd-menu > li > ul li ul {
  border-top-color: #7c4d55;
}
.feature-block:hover {
  border-bottom-color: #7c4d55;
}
@media only screen and (max-width: 992px) {
  .dd-menu > li:hover > a {
    background: #7c4d55;
  }
}
